.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
    color: black;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
  }
  
  .login-form input[type="submit"]:hover {
    background-color: darkpurple;
  }
  