@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --color-succes: #00bf8e;
  --color-warning: #f7c94b;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  color: white;
  background: rgb(59, 19, 59);
}

/* SIDEBAR CARRINHO */

.sidebar {
  position: fixed;
  top: 4rem; /* Altura da navbar */
  right: -300px;
  width: 300px;
  height: calc(100% - 4rem); /* Desconta a altura da navbar */
  background-color: white;
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
  padding: 20px;
  visibility: hidden;
}

.sidebar.show {
  right: 0;
  visibility: visible;
}

.sidebar h2{
  color: black;
}

#cartTotal{
  color: black;
}

#cartItems{
  color: black;
}

/* NAVBAR */

.navbar{
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: purple;
}

.logo{
  font-size: 2rem;
  font-weight: bold;
  margin-left: 20px;
}

.nav-menu{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 20px;
}

.nav-link{
  transition: var(--transition);
}

.nav-link:hover{
  color: yellow;
}

li{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

/* MENU HAMBURGUER */

.hamburguer{
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.bar{
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: white;
  transform: var(--transition);
}

/* FUNÇÃO JS PARA BOTAR SOMBRA NA NAVBAR AO DESCER */

.window-scroll {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
}

/* ITEMS DO CARRINHO */

ul#cartItems {
  padding: 0;
  list-style-type: none;
}

ul#cartItems li {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.cart-item-info {
  display: flex;
  align-items: flex-start; /* Alinhar os itens no topo */
  flex-grow: 1;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item-name {
  font-weight: bold;
  flex-grow: 1;
}

.cart-item-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para os botões de quantidade */

.cart-item-quantity button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
  text-align: center;
  width: 100%;
}

.cart-item-quantity button:hover {
  background-color: #ccc;
}

.cart-item-quantity .quantity-btn {
  display: flex;
  flex-direction: column;
}

.remove-button {
  margin-left: 30%;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: block;
  margin-top: 45%;
  position: absolute;
  border-radius: 4px;
}

/* CURSOS */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.courses_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  transition: var(--transition);
}

.course {
  background: purple;
  text-align: center;
  border: 1px solid transparent;
}

.course:hover {
  background: rgb(85, 6, 85);
  border-color: black;
}

.course_info {
  padding: 2rem;
}

.course_info p {
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* BOTAO */

.btn {
  display: inline-block;
  padding: 1rem 1.2rem;
  border: 1px solid transparent;
  border-radius: 1.5rem;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: white;
  border-color: white;
}

.btn-primary {
  background: red;
  color: white;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.modal-content {
  background-color: black;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid white;
  width: 1000px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info {
  flex-grow: 1;
}

.product-info img {
  width: 400px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.product-details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.product-details h2 {
  margin: 0;
  margin-bottom: 10px;
}

.product-description {
  margin: 0;
  align-items: flex-start;
  display: flex;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  border-radius: 0;
}

.buy-button,
.close-button {
  width: 120px;
  margin-left: 10px;
}

.buy-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.close-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width:768px){
  .hamburguer{
    display: block;
  }
  .hamburguer.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    border-radius: 0 0 20px 20px;
    background-color: black;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: var(--transition);
  }
  .nav-item{
    margin: 16px 0;
  }
  .nav-menu.active{
    left: 0;
  }

  .modal-content{
    width: 100vh;
    height: 500px;
  }
  
  .product-info{
    flex-grow: 0;
  }
  
  .product-info img{
    width: 300px;
  }

  .product-details{
    align-items: flex-start;
  }

  .product-description{
    display: block;
  }

  .buy-button, .close-button{
    margin-top: 10%;
    margin-left: 0;
    margin-right: 10px;
  }

  .modal-price{
    margin-top: 60px;
  }

  .container{
    width: var(--container-width-sm);
  }

  .course{
    width: 240px;
  }

  .course_info button{
    width: 150px;
    height: 50px;
    border-radius: 7px;
  }
}
