@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --color-succes: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #eb2424;
  --color-black: #000;
  --color-white: #fff;
  --color1: #c2612d;
  --color2: #99512b;
  --color3: #703c1f;
  --color4: #ffffff9a;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: #b19e9e;
}

/* SIDEBAR CARRINHO */

.sidebar {
  position: fixed;
  top: 4rem; /* Altura da navbar */
  right: -300px;
  width: 300px;
  height: calc(100% - 4rem); /* Desconta a altura da navbar */
  background-color: var(--color-white);
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
  padding: 20px;
  visibility: hidden;
}

.sidebar.show {
  right: 0;
  visibility: visible;
}

.sidebar h2 {
  color: black;
}

#cartTotal {
  color: black;
}

#cartItems {
  color: black;
}

/* NAVBAR */

.navbar {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: var(--color2);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 20px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 40px;
}

.nav-link {
  transition: var(--transition);
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: var(--color-warning);
}

li {
  list-style: none;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

/* MENU HAMBURGUER */

.hamburguer {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: var(--color-white);
  transform: var(--transition);
}

/* DROPDOWN MINHA CONTA */

.dropdown-menu {
  display: none;
  position: fixed;
  background-color: var(--color2);
  top: 4rem;
  width: 150px;
  padding: 10px;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown-menu a:hover {
  color: var(--color-warning);
}

.nav-item.dropdown.open .dropdown-menu {
  display: block;
}

.arrow-icon {
  color: var(--color-white);
  width: 25px;
}

/* FUNÇÃO JS PARA BOTAR SOMBRA NA NAVBAR AO DESCER */

.window-scroll {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
}

/* ITEMS DO CARRINHO */

ul#cartItems {
  padding: 0;
  list-style-type: none;
}

ul#cartItems li {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.cart-item-info {
  display: flex;
  align-items: flex-start; /* Alinhar os itens no topo */
  flex-grow: 1;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item-name {
  font-weight: bold;
  flex-grow: 1;
}

.cart-item-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para os botões de quantidade */

.cart-item-quantity button {
  background-color: transparent;
  color: var(--color-black);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
  text-align: center;
  width: 100%;
}

.cart-item-quantity button:hover {
  background-color: var(--color-succes);
}

.cart-item-quantity .quantity-btn {
  display: flex;
  flex-direction: column;
}

.remove-button {
  margin-left: 30%;
  background-color: var(--color-warning);
  color:  var(--color-white);
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: block;
  margin-top: 45%;
  position: absolute;
  border-radius: 4px;
}

.remove-button:hover {
  background-color: #e5e911;
}

/* CURSOS */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.courses_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  transition: var(--transition);
}

.course {
  background: var(--color3);
  text-align: center;
  border: 1px solid transparent;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.6);
}

.course:hover {
  background: var(--color1);
}

.course_info {
  padding: 2rem;
}

.course_info p {
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* BOTAO */

.btn {
  display: inline-block;
  padding: 1rem 1.2rem;
  border: 1px solid transparent;
  border-radius: 1.5rem;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-warning);
  color: var(--color-black);
  font-weight: bold;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.modal-content {
  border-radius: 15px;
  background-color: var(--color3);
  margin: 10% auto;
  padding: 20px;
  width: 600px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.7);
}

.product-info {
  flex-grow: 1;
}

.product-details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 25px;
}

.product-details h2 {
  margin: 0;
  margin-bottom: 10px;
}

.product-description {
  margin: 0;
  align-items: flex-start;
  display: flex;
  margin-bottom: 30px;
}

.buttons {
  position: absolute;
  bottom: 160px;
  display: block;
  margin-top: 20px;
  border-radius: 0;
}

.buy-button,
.close-button {
  width: 110px;
  margin-right: 20px;
}

.buy-button {
  background-color: var(--color-succes);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.close-button {
  background-color: var(--color-danger);
  color: var(--color-white);
  border:white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/* Estilos específicos para a modal de adição de produtos */

.add-product-modal-content {
  width: 800px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
  background-color: var(--color3);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.7);
}

/* Estilo para os campos de entrada */

input[type="text"],
textarea,
input[type="file"] {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 20px;
}

#productImage{
  margin-left: 0;
  padding-left: 0;
}

.modal-content placeholder{
  color: black;
  font-weight: bold;
}

#productForm .buttons {
  width: 100%; 
  position: absolute;
  bottom: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem; 
}